/* #red {
    background-color: red;
    height: 150px;
    width: 150px;
    border : 5px black dotted;

}



#green {
    background-color: green;
    height: 150px;
    width: 150px;
    margin-left: 150px;
    border : 5px black dotted;
}

#blue {
    background-color: blue;
    height: 150px;
    width: 150px;
    margin-left: 300px;
    border : 5px black dotted;
}

 #readHeading {
    padding: 100px 20px 20px 70px;
} */

#grid-container{
    display: grid;
    grid-template-columns: 0.75fr auto auto;
}